/* 
	Hoja de estilos para ejercicio/proyecto: XXXXXX
	
	Secciones: 
	$1: Estilos base
	$2: Estilos tipográficos
	$3: XXXX

*/

/* $1: Estilos base */

* {
  box-sizing: border-box;
}

/* $2: Estilos tipográficos */

body {
  font-family: sans-serif;
  line-height: 1.5;
}

.cabecera {
  margin-top: 1.5%;
  margin-left: 2%;
  background-color: aqua;
}

.selectores1 {
  float: right;
  display: flex;
}

a {
  margin-left: 35px;
}

.bigphoto {
  background-image: url();
}
