/* 
	Hoja de estilos para ejercicio/proyecto: XXXXXX
	
	Secciones: 
	$1: Estilos base
	$2: Estilos tipográficos
	$3: XXXX

*/

/* $1: Estilos base */

* {
  box-sizing: border-box;
}

/* $2: Estilos tipográficos */

body {
  font-family: sans-serif;
  line-height: 1.5;
}

.cabecera {
  margin-top: 1.5%;
  margin-left: 2%;
  
}

.selectores1 {
  float: right;
  display: flex;
    right: 0;
    padding-right: 50px;
    
}

a {
  margin-left: 35px;
}

.bigphoto {
  background-image: url(../img/A5_LEATHER_2000x.jpg);
    height: 1000px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.titulo1{
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
    font-size: 3vw;
    color: white;
    font-weight: 600;
}

hr{
    background-color: white;
    width: 130px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 2px;
    border: none;
}

.texto1{
    position: absolute;
    bottom: 45%;
    width: 100%;
    text-align: center;
    font-size: 1.5vw;
    color: white;
}

.boton{
    padding: 8px;
    display: inline-block;
    text-align: center;
    position: relative;
    font-size: 1vw;
    border: white 0.2vw solid;
    width: 25vw;
    color: white;
}




